/node_modules/
.env
.DS_Store
/storage/framework/cache/data/
/storage/framework/sessions/
/storage/framework/views/
/storage/logs/
*.log
bootstrap/cache/packages.php
bootstrap/cache/services.php
bootstrap/cache/routes-v7.php
